clientws/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.java.main.src/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.java.main.src/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.java.main.src/" schemaLocation="http://localhost:8080/?xsd=1"/>
</xsd:schema>
</types>
<message name="listCompte">
<part name="parameters" element="tns:listCompte"/>
</message>
<message name="listCompteResponse">
<part name="parameters" element="tns:listCompteResponse"/>
</message>
<message name="getComte">
<part name="parameters" element="tns:getComte"/>
</message>
<message name="getComteResponse">
<part name="parameters" element="tns:getComteResponse"/>
</message>
<message name="convertDHtoEURO">
<part name="parameters" element="tns:convertDHtoEURO"/>
</message>
<message name="convertDHtoEUROResponse">
<part name="parameters" element="tns:convertDHtoEUROResponse"/>
</message>
<portType name="BanqueService">
<operation name="listCompte">
<input wsam:Action="http://ws.java.main.src/BanqueService/listCompteRequest" message="tns:listCompte"/>
<output wsam:Action="http://ws.java.main.src/BanqueService/listCompteResponse" message="tns:listCompteResponse"/>
</operation>
<operation name="getComte">
<input wsam:Action="http://ws.java.main.src/BanqueService/getComteRequest" message="tns:getComte"/>
<output wsam:Action="http://ws.java.main.src/BanqueService/getComteResponse" message="tns:getComteResponse"/>
</operation>
<operation name="convertDHtoEURO">
<input wsam:Action="http://ws.java.main.src/BanqueService/convertDHtoEURORequest" message="tns:convertDHtoEURO"/>
<output wsam:Action="http://ws.java.main.src/BanqueService/convertDHtoEUROResponse" message="tns:convertDHtoEUROResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertDHtoEURO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8080/"/>
</port>
</service>
</definitions>